body {
  color: #f4a261;
  min-height: 100vh;
}
header {
  font-family: "Calibri", sans-serif;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.plus :hover {
  background-color: green;
  color: white;
}

.minus :hover {
  background-color: red;
  color: white;
}
